<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task List Manger</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div id="todo-list-example">
          <form v-on:submit.prevent="addNewTodo">
            <label for="new-todo">Добавить задачу</label>
            <input
              v-model="newTodoText"
              id="new-todo"
              placeholder="Например, покормить кота"
            >
            <button>Добавить</button>
          </form>
          <br>
          <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Задача</th>
                  <th scope="col">Запустить/Остановить</th>
                  <th scope="col">Затрачено</th>
                  <th scope="col">Удалить</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  is="todo-item"
                  v-for="(todo, index) in todos"
                  v-bind:key="todo.id"
                  v-bind:id="index"
                  v-bind:title="todo.title"
                  v-bind:elapsed="todo.elapsed"
                  v-bind:active="isActive(index)"
                  v-on:remove="todos.splice(index, 1)"
                  v-on:start="startTimer"
                  v-on:pause="pauseTimer"
                  v-bind:class="{ 'table-active': isActive(index) }"
                ></tr>
                <tr
                  is="todo-total"
                  v-bind:total="getTotal()"
                ></tr>
              </tbody>
            </table>
        </div>
    </div>
</body>

<script type="text/javascript">
    Vue.component('todo-item', {
      template: '\
      <tr>\
        <th scope="row">{{ id + 1 }}</th>\
        <td>{{ title }}</td>\
        <td>\
          <button v-if="active" v-on:click="$emit(\'pause\', id)">Пауза</button>\
          <button v-else v-on:click="$emit(\'start\', id)">Старт</button>\
        </td>\
        <td>{{ elapsed }}</td>\
        <td>\
          <button v-on:click="$emit(\'remove\')">Удалить</button>\
        </td>\
      </tr>\
      ',
      props: ['id', 'title', 'elapsed', 'active']
    })

    Vue.component('todo-total', {
      template: '\
      <tr>\
        <td></td>\
        <td>Всего затрачено времени</td>\
        <td></td>\
        <td>{{ total }}</td>\
        <td></td>\
      </tr>\
      ',
      props: ['total']
    })

var vm = new Vue({
  el: '#todo-list-example',
  data: {
    newTodoText: '',
    todos: [],
    nextTodoId: 1,
    interval: null,
    totalElapsedTime: 0,
    activeId: null
  },
  methods: {
    addNewTodo: function () {
      this.todos.push({
        id: this.nextTodoId++,
        title: this.newTodoText,
        elapsed: '',
        hours: 0,
        minutes: 0,
        seconds: 0
      })
      this.newTodoText = ''
    },
    startTimer: function (id) {
      if (this.interval != null) {
        this.pauseTimer(id)
      }
      this.interval = setInterval(() => {
        this.todos[id].seconds++
        if ((this.todos[id].seconds > 0) && (this.todos[id].seconds % 60 == 0)) {
          this.todos[id].minutes++
          this.todos[id].seconds = 0
        }
        if ((this.todos[id].minutes > 0) && (this.todos[id].minutes % 60 == 0)) {
          this.todos[id].hours++
          this.todos[id].minutes = 0
        }
        this.todos[id].elapsed = this.todos[id].hours + ":" + this.todos[id].minutes + ":" + this.todos[id].seconds
        this.activeId = id
      }, 1000)
    },
    pauseTimer: function (id) {
      clearInterval(this.interval)
      this.activeId = null
    },
    getTotal: function () {
      let seconds = 0
      let minutes = 0
      let hours = 0
      this.todos.forEach(function(item) {
        seconds += item.seconds
        if (seconds > 0 && seconds % 60 == 0) {
          minutes++
          seconds = 0
        }
        minutes += item.minutes
        if (minutes > 0 && minutes % 60 == 0) {
          hours++
          minutes = 0
        }
        hours += item.hours
      })
      this.totalElapsedTime = hours + ":" + minutes + ":" + seconds
      return this.totalElapsedTime
    },
    isActive: function (id) {
      if (this.activeId === id) {
        return true
      }
      return false
    }
  }
})
</script>
</html>