<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task List Manger</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div id="todo-list-example">
          <h2>{{ title }}</h2>

          <form v-on:submit.prevent="addNewTodo">
            <label for="new-title">Название списка</label>
            <input
              v-model="title"
              id="new-title"
              placeholder="Чем бы заняться"
            >
            <br>
            <label for="new-todo">Добавить задачу</label>
            <input
              v-model="newTodoText"
              id="new-todo"
              placeholder="Например, покормить кота"
            >
            <button>Добавить</button>
          </form>

          <br>
          <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Задача</th>
                  <th scope="col">Запустить/Остановить</th>
                  <th scope="col">Затрачено</th>
                  <th scope="col">Удалить</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  is="todo-item"
                  v-for="(todo, index) in todos"
                  v-bind:key="todo.id"
                  v-bind:id="index"
                  v-bind:task="todo.task"
                  v-bind:elapsed="todo.elapsed"
                  v-bind:active="isActive(index)"
                  v-on:remove="todos.splice(index, 1)"
                  v-on:start="startTimer"
                  v-on:pause="pauseTimer"
                  v-bind:class="{ 'table-active': isActive(index) }"
                ></tr>
                <tr
                  is="todo-total"
                  v-bind:total="getTotal()"
                ></tr>
              </tbody>
            </table>
        </div>

        <br>
        <div id="load-and-save">
          <input type="text" id="todoTitles" name="todoTitles" list="titlesList" v-model="selectedTitle" v-on:input="loadProject">
          <datalist id="titlesList">
          <option 
            v-for="title in titles"
            v-bind:key="title"
            v-bind:value="title"
          ></datalist>
          <button v-on:click="saveProject" class="btn btn-primary">Сохранить</button>
          <button v-on:click="deleteProject" class="btn btn-danger">Удалить</button>
        </div>
    </div>
</body>

<script type="text/javascript">
    Vue.component('todo-item', {
      template: '\
      <tr>\
        <th scope="row">{{ id + 1 }}</th>\
        <td>{{ task }}</td>\
        <td>\
          <button v-if="active" v-on:click="$emit(\'pause\', id)">Пауза</button>\
          <button v-else v-on:click="$emit(\'start\', id)">Старт</button>\
        </td>\
        <td>{{ elapsed }}</td>\
        <td>\
          <button v-on:click="$emit(\'remove\')">Удалить</button>\
        </td>\
      </tr>\
      ',
      props: ['id', 'task', 'elapsed', 'active']
    })

    Vue.component('todo-total', {
      template: '\
      <tr>\
        <td></td>\
        <td>Всего затрачено времени</td>\
        <td></td>\
        <td>{{ total }}</td>\
        <td></td>\
      </tr>\
      ',
      props: ['total']
    })

var vm = new Vue({
  el: '#todo-list-example',
  data: {
    title: 'Дефолтное название',
    newTodoText: '',
    todos: [],
    nextTodoId: 1,
    interval: null,
    totalElapsedTime: 0,
    activeId: null
  },
  methods: {
    addNewTodo: function () {
      this.todos.push({
        id: this.nextTodoId++,
        task: this.newTodoText,
        elapsed: '',
        hours: 0,
        minutes: 0,
        seconds: 0
      })
      this.newTodoText = ''
    },
    startTimer: function (id) {
      if (this.interval != null) {
        this.pauseTimer(id)
      }
      this.interval = setInterval(() => {
        this.todos[id].seconds++
        if ((this.todos[id].seconds > 0) && (this.todos[id].seconds % 60 == 0)) {
          this.todos[id].minutes++
          this.todos[id].seconds = 0
        }
        if ((this.todos[id].minutes > 0) && (this.todos[id].minutes % 60 == 0)) {
          this.todos[id].hours++
          this.todos[id].minutes = 0
        }
        this.todos[id].elapsed = this.todos[id].hours + ":" + this.todos[id].minutes + ":" + this.todos[id].seconds
        this.activeId = id
      }, 1000)
    },
    pauseTimer: function (id) {
      clearInterval(this.interval)
      this.activeId = null
    },
    getTotal: function () {
      let seconds = 0
      let minutes = 0
      let hours = 0
      this.todos.forEach(function(item) {
        seconds += item.seconds
        if (seconds > 0 && seconds % 60 == 0) {
          minutes++
          seconds = 0
        }
        minutes += item.minutes
        if (minutes > 0 && minutes % 60 == 0) {
          hours++
          minutes = 0
        }
        hours += item.hours
      })
      this.totalElapsedTime = hours + ":" + minutes + ":" + seconds;
      return this.totalElapsedTime;
    },
    isActive: function (id) {
      if (this.activeId === id) {
        return true
      }
      return false
    }
  }
})

const loadAndSave = new Vue({
  el: '#load-and-save',
  data: {
    selectedTitle: '',
    todos: {},
    titles: []
  },
  mounted() {
    if (localStorage.length > 0) {
      for (let i = 0; i < localStorage.length; i++) {
        this.titles.push(localStorage.key(i));
      }
    }
    //console.log(this.titles)
  },
  methods: {
    loadProject: function () {
      if (localStorage.getItem(this.selectedTitle)) {
        try {
          vm.todos = JSON.parse(localStorage.getItem(this.selectedTitle))
          vm.title = this.selectedTitle
        } catch(e) {
          localStorage.removeItem(this.selectedTitle);
        }
      }
    },
    saveProject: function () {
      this.todos = vm.todos
      const parsed = JSON.stringify(this.todos)
      localStorage.setItem(vm.title, parsed)
    },
    deleteProject: function () {
      localStorage.removeItem(vm.title)
      document.location.reload(true)
    }
  }
})
</script>
</html>